.content-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 80px;
}

.news-area {
    display: flex;
    flex-direction: column;
}

.courses-area {
    width: 350px;
    height: 100px;
    display: flex;
    flex-direction: column;
}